<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--    <system.diagnostics>-->
<!--        <sources>-->
<!--            <source name="Ssmpnet"-->
<!--              switchName="sourceSwitch"-->
<!--              switchType="System.Diagnostics.SourceSwitch">-->
<!--                <listeners>-->
<!--                    <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->
<!--                </listeners>-->
<!--            </source>-->
<!--        </sources>-->
<!--        <switches>-->
<!--            <add name="sourceSwitch" value="Error"/>-->
<!--        </switches>-->
<!--    </system.diagnostics>-->
</configuration>